@import "style/fonts.css";

@import "style/scroll-bar.css";
@import "style/nav.css";
@import "style/header.css";
@import "style/footer.css";
@import "style/cursor.css"; /* Cursor animation */

:root {
    --primary-color: #1a1a1a;
    --secondary-color: #dddddd;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
}
