footer {
    position: relative;
    height: max-content;
    padding: 7rem 0 5rem 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    & > div {
        /* width: 10%; */

        & a {
            color: var(--secondary-color);
            text-decoration: underline;
            display: block;
        }
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        background-color: var(--secondary-color);

        height: 0.1rem;
        width: 25%;
        top: 2.5rem;
        left: 50%;
        translate: -50% 0;
    }
}
